.join-btn {
    background-color: lightgray;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    opacity: 0.8;
}

    .join-btn:hover {
        background-color: lightgrey;
        color: black;
        padding: 10px 20px;
        border-radius: 20px;
        border: none;
        font-weight: bold;
        opacity: 1;
        cursor: pointer;
    }
    .get it now -btn {
        background-color: white;
        color:rgb (46 95 211);
        border:1px solid rbg (46 95 212);
        padding:10px 20px;
        border-radius :20px;

    }
    
        .get it now:hover {
            background-color: lightgrey;
            cursor: pointer;
        }
        