table{
    width: 100px;
    border-collapse:collapse;
}

td{
    border:10px solid black;
}
th{
    text-align: center;
    padding:10px;
    border: 10px solid #dddddd;
}
tr:nth-child(even){
    background-color:#dddddd;
}